@import url('https://fonts.googleapis.com/css?family=Work+Sans');
@import url('https://fonts.googleapis.com/css?family=Eczar:400,700');
//@import url('https://fonts.googleapis.com/css?family=UnifrakturCook:700');
$line_size: 70px;
$font-family-wild: 'Eczar',
serif;
$font-family-plain: 'Work Sans',
sans-serif;
$main_color: white;
$background_color: black;
$link: #444;
$link_hover:#222;