<section>
    <div class="full_slide">
        <div class="test_right">
            <p class="title text">{{ title }}{{ s.data.title }}</p>
        </div>
        <p class="year text">{{ year }}{{ s.data.year }}</p>
        <p class="materials text">{{ materials }}{{ s.data.materials }}</p>
        <p class="description text">{{ description }}{{ s.data.description }}</p>
        <div class="main_img">
            <img src="{{ image }}{{ s.data.image }}">
        </div>
    </div>
</section>
