<section>
    <div class="full_slide">
        <div class="test_right">
            <p class="title text">{{ title }}{{ s.data.title }}</p>
        </div>
        
        <iframe
            src="{{ link }}{{ s.data.link }}"
            class="codesandbox_embed"
            title="Arrow"
            allow="geolocation; microphone; camera; midi; vr; accelerometer; gyroscope; payment; ambient-light-sensor; encrypted-media; usb"
            sandbox="allow-modals allow-forms allow-popups allow-scripts allow-same-origin"
        >
        </iframe>

    </div>
</section>
    <!-- <section hidden="" aria-hidden="true" class="future">
        <div class="full_slide">
            <div class="test_right">
                <p class="title text">llegal Documents: or The Actualization of Casual Labor</p>
            </div>
            <p class="year text">2016</p>
            <p class="materials text">House Paint, Drop Cloth, Day Labor</p>
            <p class="description text">A painting produced by an undocumented worker from El Salvador following a set of instructions given by the artist.</p>
            <div class="main_img"><img src="http://indexhibit.anthonywarnick.com/files/dimgs/rsz_h600_34_110.jpg" alt="A painting produced by an undocumented worker from El Salvador following a set of instructions given by the artist."></div>
        </div>
    </section>
    <section>
        <div class="full_slide" >
            <video autoplay muted loop>
                <source src="/img/For_Background.mp4" type="video/mp4">
            </video>
        </div>
    </section> -->
