@import 'var';

@import '../node_modules/reveal.js/css/reveal.scss';
//@import '../node_modules/plyr/dist/plyr.css';
// @import '../node_modules/plyr/src/scss/plyr.scss';
@import 'reset';
@import 'embed';


body {
    font-family: $font-family-wild;
    font-size: 30px;
    background: $background_color;
    color: $main_color;
}

a {
    color: $link;
}

a:hover {
    color: $link_hover;
}

//make slide full width and height
.reveal .slides>section,
.reveal .slides>section>section {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.full_slide {
    height: 100%;
    width: 100%;
    display: flex;
    /* establish flex container */
    flex-direction: column;
    /* make main axis vertical */
    justify-content: center;
    /* center items vertically, in this case */
    align-items: center;
}

//p.title {}
p.year {
    display: block;
    position: absolute;
    top: 2%;
    left: 2%;
}

p.materials {
    width: 10%;
    position: absolute;
    bottom: 2%;
    left: 2%;
    //font-family: sans-serif;
    font-size: 15px;
    text-align: left;
}

p.description {
    display: none;
}

.main_img {
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    img {
        max-height: 100%;
        max-width: 100%;
    }
}

.main_text {
    height: 40%;
    width: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    .quote {
        font-family: $font-family-plain;
        font-size: 25px;
        line-height: 30px;
        text-align: left;
    }
    .author {
        text-align: right;
        padding-top: 20px;
        width: 100%;
    }
    .single_word {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        font-size: 40px;
    }
}

.text {
    opacity: 1;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}

div.test_right {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: $line_size/2;
    p {
        -moz-transform-origin: 0 50%;
        -moz-transform: rotate(90deg) translate(-50%, 50%);
        -webkit-transform-origin: 0 50%;
        -webkit-transform: rotate(90deg) translate(-50%, 50%);
        -ms-transform-origin: 0 50%;
        -ms-transform: rotate(90deg) translate(-50%, 50%);
        transform-origin: 0 50%;
        transform: rotate(90deg) translate(-50%, 50%);
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 600px;
    }
}

div.test_left {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: $line_size/2;
    p {
        -moz-transform-origin: 0 50%;
        -moz-transform: rotate(-90deg) translate(-50%, 50%);
        -webkit-transform-origin: 0 50%;
        -webkit-transform: rotate(-90deg) translate(-50%, 50%);
        -ms-transform-origin: 0 50%;
        -ms-transform: rotate(-90deg) translate(-50%, 50%);
        transform-origin: 0 50%;
        transform: rotate(-90deg) translate(-50%, 50%);
        display: block;
        position: absolute;
        top: 0;
        left: $line_size/2;
        bottom: 0;
        width: 600px;
    }
}

div.test_top {
    position: absolute;
    left: 0;
    top: 2%;
    height: 30px;
    width: 100%;
}

div.test_bottom {
    position: absolute;
    left: 0;
    bottom: 6vh;
    height: 30px;
    width: 100%;
    p {
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

.line_top_right {
    position: absolute;
    top: $line_size/2;
    right: $line_size/2;
    width: $line_size;
    height: $line_size;
    &:after {
        content: "";
        position: absolute;
        top: $line_size/2;
        right: -1*($line_size/2);
        border-top: 5px solid $main_color;
        transform: rotate(-45deg);
        width: $line_size;
        height: $line_size;
        transform-origin: 0% 0%;
    }
}

.line_top_left {
    position: absolute;
    top: $line_size/2;
    left: $line_size/2;
    width: $line_size;
    height: $line_size;
    &:after {
        content: "";
        position: absolute;
        top: -1*($line_size/4);
        left: -1*($line_size/4);
        border-top: 5px solid $main_color;
        transform: rotate(45deg);
        width: $line_size;
        height: $line_size;
        transform-origin: 0% 0%;
    }
}

.line_botom_right {
    position: absolute;
    bottom: $line_size/2;
    right: $line_size/2;
    width: $line_size;
    height: $line_size;
    &:after {
        content: "";
        position: absolute;
        bottom: -1*($line_size/2);
        right: -1*($line_size/2);
        border-top: 5px solid $main_color;
        transform: rotate(45deg);
        width: $line_size;
        height: $line_size;
        transform-origin: 0% 0%;
    }
}

.line_botom_left {
    position: absolute;
    bottom: $line_size/2;
    left: $line_size/2;
    width: $line_size;
    height: $line_size;
    &:after {
        content: "";
        position: absolute;
        bottom: -1.25*$line_size;
        left: -0.25*$line_size;
        border-top: 5px solid $main_color;
        transform: rotate(-45deg);
        width: $line_size;
        height: $line_size;
        transform-origin: 0% 0%;
    }
}


iframe.codesandbox_embed{
    width: 75vw; 
    height:75vh; 
    border:0; 
    border-radius: 0px; 
    overflow:hidden;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}