.reveal.default.center(role='application', data-transition-speed='default', data-background-transition='fade')
  .slides
    section(data-transition="slide")
      div.line_top_right
      div.line_top_left
      div.line_botom_right
      div.line_botom_left
      div.full_slide
        div.test_right
          p.title.text llegal Documents: or The Actualization of Casual Labor
        div.test_left
          p.autor.text llegal Documents: or The Actualization of Casual Labor

        div.test_top
          p.autor.text llegal Documents: or The Actualization of Casual Labor

        div.test_bottom
          p.autor.text llegal Documents: or The Actualization of Casual Labor

        div.main_text
          p.quote Forming grammatically correct sentences is for the normal individual the prerequisite for any submission to social laws. No one is supposed to be ignorant of grammaticality; those who are belong in special institutions. The unity of language is fundamentally political.
          p.author Gilles Deleuze 


    section(data-transition="slide")
      div.full_slide
        div.test_right
          p.title.text llegal Documents: or The Actualization of Casual Labor
        p.year.text 2016
        p.materials.text House Paint, Drop Cloth, Day Labor
        p.description.text
          | A painting produced by an undocumented worker from El Salvador following a set of instructions given by the artist.
        div.main_img
          img(src='http://indexhibit.anthonywarnick.com/files/dimgs/rsz_h600_34_110.jpg')
    
    section(data-transition="slide")
       div.full_slide
        div.test_right
          p.title llegal Documents: or The Actualization of Casual Labor
        p.year 2016
        p.materials House Paint, Drop Cloth, Day Labor
        p.description
          | A painting produced by an undocumented worker from El Salvador following a set of instructions given by the artist.
        div.main_img
          img(src='http://indexhibit.anthonywarnick.com/files/dimgs/rsz_h600_34_110.jpg')
  
script(src='/node_modules/reveal.js/js/reveal.js')
script(src='/js/test.js')
script(type='text/javascript').
  Reveal.initialize({
    controls: false,
    display: 'block',
    center: false,
    width: '99%',
    height: '99%',
    margin: 0,
    minScale: 1,
    maxScale: 1
  });
