<section>
    <div class="line_top_right"></div>
    <div class="line_top_left"></div>
    <div class="line_botom_right"></div>
    <div class="line_botom_left"></div>
    <div class="full_slide">
        <div class="test_right">
            <p class="title text">llegal Documents: or The Actualization of Casual Labor</p>
        </div>
        <div class="test_left">
            <p class="autor text">llegal Documents: or The Actualization of Casual Labor</p>
        </div>
        <div class="test_top">
            <p class="autor text">llegal Documents: or The Actualization of Casual Labor</p>
        </div>
        <div class="test_bottom">
            <p class="autor text">llegal Documents: or The Actualization of Casual Labor</p>
        </div>
        <div class="main_text">
            <p class="quote">Forming grammatically correct sentences is for the normal individual the prerequisite for any submission to social laws. No one is supposed to be ignorant of grammaticality; those who are belong in special institutions. The unity of language
                is fundamentally political.</p>
            <p class="author">Gilles Deleuze </p>
        </div>
    </div>
</section>