div.title
    this is a title

div.discription
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris lobortis id risus ut porta. Duis orci eros, finibus non nunc a, congue elementum dui. Fusce posuere, libero nec sollicitudin consequat, erat elit fermentum dui, quis eleifend leo felis non erat. Suspendisse pretium, nisi id egestas sagittis, nunc felis fermentum libero, non fermentum elit odio non justo. In bibendum, magna nec ultricies sollicitudin, risus diam pharetra risus, nec viverra velit quam eget sapien. In at ullamcorper ligula. Nunc eu lorem ornare, efficitur enim a, lobortis massa. Morbi mollis eleifend lectus sit amet dignissim.

div.date
    2017